@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Continous Deployment with Azure</p>
    <h2>
        The AppKey is configured  @ViewData["IsEnabled"]
    </h2>
</div>
<div>

</div>
